body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: #141036;
    min-height: 100vh;
    background-image: url("/img/generateIncome/background.png"), url("/img/generateIncome/bg-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.showcase {
    padding: 2rem 0;
}

.showcase-img img{
    width: 550px;
}

.showcase-text {
    color: #fff;
    text-align: start;
}

.showcase-text p {
    margin: 1rem 0;
}

.showcase-text h1 {
    font-size: 2rem;
    margin: 2rem 0;
}

.showcase-text h1, p {
    line-height: 1.4rem;
}

.showcase .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 75%;
}

footer {
    margin-top: auto;
    z-index: 1;
}

footer .col div .bsc {
    color: #50D9FC;
}

@media (min-width: 2000px) {
    .showcase-img img {
        width: 800px;
    }

    .showcase-text h1 {
        font-size: 3rem;
    }

    .showcase-text p {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

@media (max-width: 1350px) {
    .showcase-img img {
        width: 550px;
    }
}

@media (max-width: 1200px) {
    .showcase {
        padding: 8rem 0;
    }

    .showcase-img img {
        width: 400px;
    }

    .showcase .grid {
        width: 90%;
    }
}

@media (max-width: 900px) {
    .showcase {
        padding: 0;
    }

    .showcase .grid {
        grid-template-columns: 1fr;
    }

    .showcase-text h1 {
        text-align: center;
    }
}

@media (max-width: 550px) {
    /* footer {
        margin: -28rem 0;
    } */

    .showcase-img img {
        width: 350px;
    }

}

@media (max-width: 350px) {
    .showcase-img img {
        width: 250px;
    }

}
