@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

.goog-te-gadget .goog-te-combo  {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.goog-logo-link {
  display:none !important;
} 
  
.goog-te-gadget{
  color: transparent !important;
}

#google_translate_element{display:block; margin-top: .5rem;}
.goog-te-banner-frame.skiptranslate { display: none !important;} 
body { top: 0px !important; }
#goog-gt-tt{display: none !important; top: 0px !important; } 
.goog-tooltip skiptranslate{display: none !important; top: 0px !important; } 
.activity-root { display: hide !important;} 
.status-message { display: hide !important;}
.started-activity-container { display: hide !important;}

option {
  background-color: #0d0a2c;
}

.language {
  margin-top: -2rem !important;
  display: flex;
  align-items: center;
  gap: 5px;
  width: 90%;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #141036;
  min-height: 100vh;
  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.btn {
  background: #50d9fc;
  color: #130f30;
  padding: 10px 18px;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

footer {
  background-color: #0d0a2c;
  color: #fff;
}

footer .container {
  width: 90%;
  padding: 2rem 0;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .col div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .col div li {
  margin: 1rem 0;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

footer .col div a {
  text-decoration: none;
}

footer .col div li:hover {
  color: #50d9fc;
}

footer .col-4 div li {
  list-style: none;
  text-transform: uppercase;
}

.socials img {
  width: 30px;
  margin-top: 1rem;
}

.socials a {
  color: transparent;
}

.col-4a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.socials {
  opacity: 0;
}

.active-social {
  opacity: 1;
}

.col-4a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}


@media (max-width: 2500px) {
  footer .col img {
    margin-left: 10rem;
  }
}

@media (max-width: 1650px) {
  footer .col div img {
    margin-left: 5rem;
  }
}

@media (max-width: 1650px) {
  footer .col div img {
    margin-left: 2rem;
  }
}

@media (max-width: 1100px) {
  footer .container {
    flex-direction: column;
  }

  footer .col-4 div {
    margin: 1rem 0;
  }

  footer .container {
    align-items: normal;
  }

  .socials {
    display: none;
  }

  .social-mobile-active {
    display: block;
  }
}

@media (max-width: 400px) {
  .logo img{
    width: 80px;
  }

  .btn {
    padding: 8px 7px;
  }
}
