@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    
    min-height: 100vh;
}

.container {
    width: 95%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.btn {
    background: #50D9FC;
    color: #130F30;
    padding: 10px 18px;
    border-radius: .4rem;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #0d0a2c;
    color: #fff;
}

footer .container {
    width: 90%;
    padding: 2rem 0;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer .col div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .col div img {
    margin-left: 4rem;
}

footer .col div li {
    margin: 1rem 0;
    text-transform: uppercase;
    list-style: none;
    font-size: 14px;
    color: #fff;
}

footer .col div li a {
    text-decoration: none;
}

footer .col-4 div {
    margin-bottom: 3.3rem;
}

@media (max-width: 2500px) {
    footer .col div img {
        margin-left: 10rem;
    }
}

@media (max-width: 1650px) {
    footer .col div img {
        margin-left: 5rem;
    }
}

@media (max-width: 1650px) {
    footer .col div img {
        margin-left: 2rem;
    }
}

@media (max-width: 1000px) {
    footer .container {
       flex-direction: column;
    }

    footer .col-4 div {
        margin-bottom: 0;
    }

    footer .container {
        align-items: normal;
    }
}



