body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #141036;
  min-height: 100vh;
}

.main-header {
  width: 100vw;
}

.showcase {
  color: #fff;
  padding: 2rem 0;
  text-transform: uppercase;
}

.showcase .flex {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showcase h2 {
  font-size: 16px;
  margin-top: 0.1rem;
  font-weight: 600;
}

.showcase h3 {
  font-size: 0.7rem;
  margin: 0.5rem 0;
  color: #fff;
  font-weight: 200;
}

.countdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  text-align: center;
  text-transform: lowercase;
}

.countdown-container h1 {
  font-size: 1.5rem;
}

.header {
  color: #fff;
}

.countdown-container h1 {
  background: linear-gradient(180deg, #50d9fc 0%, #ffffff 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.days {
  text-align: center;
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    360deg,
    #ffffff -1.87%,
    rgba(72, 214, 250, 0.1) 1.84%,
    rgba(72, 214, 250, 0.1) 100%
  );
}

.hours {
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    360deg,
    #ffffff -1.87%,
    rgba(72, 214, 250, 0.1) 1.84%,
    rgba(72, 214, 250, 0.1) 100%
  );
}

.minutes {
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    360deg,
    #ffffff -1.87%,
    rgba(72, 214, 250, 0.1) 1.84%,
    rgba(72, 214, 250, 0.1) 100%
  );
}

.seconds {
  padding: 0.8rem 1.5rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    360deg,
    #ffffff -1.87%,
    rgba(72, 214, 250, 0.1) 1.84%,
    rgba(72, 214, 250, 0.1) 100%
  );
}

.colon {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #1ed5fd;
}

showcase-para {
  color: #fff !important;
}

footer {
  margin-top: auto;
  z-index: 1;
}

@media (min-width: 1900px) {
  .showcase h3 {
    font-size: 1.5rem;
  }

  .countdown-container p {
    font-size: 1.2rem;
  }

  .showcase .showcase-header {
    font-size: 80px;
  }
}

@media (max-width: 1100px) {
  .showcase .showcase-header {
    font-size: 40px;
  }

  .showcase h2 {
    font-size: 10px;
    margin-top: 0.4rem;
  }

  .showcase h3 {
    font-size: 0.6rem;
  }

  .countdown-container {
    justify-content: center;
  }

  .countdown-container h1 {
    font-size: 1rem;
  }

  .countdown-container p {
    font-size: 0.7rem;
  }

  .days {
    text-align: center;
    padding: 0.4rem 0.7rem;
  }

  .hours {
    padding: 0.4rem 0.7rem;
  }

  .minutes {
    padding: 0.4rem 0.7rem;
  }

  .seconds {
    padding: 0.4rem 0.7rem;
  }
}

@media (max-width: 600px) {
  .showcase h2 {
    font-size: 12px;
  }

  .showcase h3 {
    font-size: 0.6rem;
  }
}

@media (max-width: 300px) {
  .countdown-container h1 {
    font-size: 0.7rem;
  }

  .countdown-container p {
    font-size: 0.5rem;
  }
}
