body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: #141036;
  min-height: 100vh;
  background-image: url("../img/background.png"), url("../img/bg-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase {
  padding: 2rem 0;
}

.showcase .container {
  width: 70%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header {
  color: #fff;
  font-size: 2rem !important;
  margin-bottom: 2rem;
}

.showcase h1 {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.showcase p {
  color: #fff;
  font-size: .9rem;
}

.stages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-transform: uppercase;
  width: 85%;
}

.stage {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-transform: uppercase;
  width: 85%;
}

.stage .col {
  color: rgba(228, 228, 228, 0.5);
  border: 0.5px solid #28206b;
  padding: 2rem;
  margin-top: 1rem;
}

.stages .col {
  color: rgba(228, 228, 228, 0.5);
  border: 0.5px solid #28206b;
  padding: 2rem;
  margin-top: 1rem;
}

.stages-1 h3 {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 3rem;
}

.stages-1 p {
  margin-top: 0.7rem;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.countdown-container h1 {
  font-size: 1.5rem;
}

.countdown-container h2 {
  font-size: 0.7rem;
}

.header {
  color: #fff;
}

.countdown-container h1,
h2 {
  text-align: center;
  background: linear-gradient(180deg, #50d9fc 0%, #ffffff 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.days {
  text-align: center;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    360deg,
    #ffffff -1.87%,
    rgba(72, 214, 250, 0.1) 1.84%,
    rgba(72, 214, 250, 0.1) 100%
  );
}

.hours {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    360deg,
    #ffffff -1.87%,
    rgba(72, 214, 250, 0.1) 1.84%,
    rgba(72, 214, 250, 0.1) 100%
  );
}

.minutes {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    360deg,
    #ffffff -1.87%,
    rgba(72, 214, 250, 0.1) 1.84%,
    rgba(72, 214, 250, 0.1) 100%
  );
}

.seconds {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  background: linear-gradient(
    360deg,
    #ffffff -1.87%,
    rgba(72, 214, 250, 0.1) 1.84%,
    rgba(72, 214, 250, 0.1) 100%
  );
}

.colon {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: #1ed5fd;
}

.offer {
  padding: 3rem 0;
  width: 63%;
  margin: 0 auto;
}

.offer .container {
  position: relative;
}

.offer-container {
  background: #FFFFFF1A;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 10rem;
  padding-right: 4rem;
}

.gift-1 {
  position: absolute;
  top: -4vh;
  left: -8vw;
  width: 30%;
}

.gift-2 {
  position: absolute;
  top: -3vh;
  right: -3vw;
  width: 10%;
}

.gift-3 {
  display: none;
}

.offer-container h1 {
  color: #FFEA39;
  font-weight: 900;
  font-size: 32px;
}

.offer-container p{
  margin: 1rem 0;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.offer-container span {
  color: #50D9FC;
}

.token {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

.token-container h5 {
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: -2%;
  font-size: 12px;
  margin-bottom: 1rem;
}

.token-container .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}


footer {
  margin-top: auto;
  z-index: 1;
}

footer .col div .presale {
  color: #50d9fc;
}

@media (max-width: 1000px) {
  .stages {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
  }

  .stages .col {
    margin: 0;
  }

  .stage {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1rem;
  }

  .stage .col {
    margin: 0;
  }

  .offer-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 2rem;
  }
}

@media (max-width: 800px) {
  .gift-1 {
   top: 7vh;
   left: -14vw;
   width: 40%;
  }

  .gift-2 {
    width: 20%;
  }
}

@media (max-width: 600px) {
  .offer-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .gift-1 {
   display: none;
  }

  .gift-3 {
    display: block;
    position: absolute;
    bottom: -3vh;
    left: -10vw;
    width: 40%;
  }

  .gift-2 {
    width: 20%;
  }

  .offer-container h1 {
    font-size: 20px;
  }

  .offer-container p {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .countdown-container h1 {
    font-size: 1rem;
  }

  .countdown-container h2 {
    font-size: 0.4rem;
  }

  .gift-1 {
    top: 20vh;
    left: -26vw;
    width: 60%;
  }

}

@media (max-width: 450px) {
  .stages,
  .stage {
    grid-template-columns: 1fr;
  }

  .countdown-container h1 {
    font-size: .7rem;
  }

  .showcase p {
    font-size: .5rem;
  }
}

@media (max-width: 280px) {
  .countdown-container h1 {
    font-size: 0.8rem;
  }

  .days {
    padding: 0.2rem 0.5rem;
  }

  .hours {
    padding: 0.2rem 0.5rem;
  }

  .minutes {
    padding: 0.2rem 0.5rem;
  }

  .seconds {
    padding: 0.2rem 0.5rem;
  }

  .colon {
    font-size: 1rem;
    margin: 0 0.5rem;
    color: #1ed5fd;
  }
}
